th {
    background-color: #ffffaa;
    color: red;
    font-size: 25px;
}
td {
    background-color: #00ccff;
}
.button {
    font-size: 15px;
    padding-inline: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}