h1 {
    color: yellow;
    text-align: left;
    background-color: blue;
    padding: 15px;
}
h3 {
    color: yellowgreen;
}
div {
    border: gray;
    width: 600px;
}
span {
    color: red;
    text-transform: uppercase;
}

span:hover {
    color: blue;
}
